.landscape-left-row {
  display: grid;
  grid-template-columns: 550px 265px 265px;
  gap: 10px;
  margin-bottom: 10px;
}

.landscape-right-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.no-landscape-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.landscape-middle-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.giphy-tile {
  height: 280px;
  overflow: hidden;
  position: relative;
}

.giphy-tile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.text-tile {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
